
<div class="title">
  <p>
  プロフィール
  </p>
</div>


<div class="container">
<div class="form">
  <div class="new-name form-title">
    <div class="name">
      <div class="block"></div> 
      <p>ユーザ名</p>
    </div>
    <input type="name" placeholder="<%= @user.name %>">
    
  </div>

  <div class="new-genre form-title">
    <div class="name">
      <div class="block"></div>
      <p>お住まい</p>
    </div>
    <input type="name" placeholder="<%= @user.home_adress %>">
    </div>


    <div class="new-genre form-title">
    <div class="name">
        <div class="block"></div>
        <p>メールアドレス</p>
    </div>
    <input type="name" placeholder="<%= @user.email %>">
    </div>

  <div class="new-form-button">
      <%=  link_to 'プロフィールを編集する', edit_user_path(@user)  %>
  </div>
</div>
