<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

           <span class="username"> <%= @user.name %></span>
           <span class="username"> <%= @user.home_adress %></span>

            

            <% if @user.id == current_user.id %>
               <span class="email"> <%= @user.email %></span>
                <%= link_to '編集', edit_user_path(@user) %>
            <% else %>
            <% end %>