
<div class="main-container">
    <div class="title_logo"><%= image_tag 'app_logo.png', class: 'logo' %></div>


<p>Millerは、自動でオシャレなコーデを組んでくれるサービスです。</p>

<div class="sign_up_button">
  <%= link_to new_user_session_path do %>
    <p>さっそくはじめる</p>
  <% end %>
</div>

<div class="scrolldown1"><span>Scroll</span></div>
</div>

<div class="about-container">
  <p class="title">もっとおしゃれを手軽に</p>
  <div class="underline"></div>
  <div class="contents">
    <p>おしゃれとは何なのか。</p>
    <p>それは「カジュアル」✖️「綺麗め」のバランスが大事！！</p>
    <p> Miilerは「カジュアル」*「綺麗め」のバランスの整ったコーデを組んでくれえるアプリです！！</p>
  </div>
</div>


