

<div class="title_logo"><%= image_tag 'app_logo.png', class: 'logo' %></div>


<p>Millerは、自動でオシャレなコーデを組んでくれるサービスです。</p>

<div class="sign_up_button">
  <%= link_to new_user_session_path do %>
    <p>さっそくはじめる</p>
  <% end %>
</div>

<div class="scrolldown1"><span>Scroll</span></div>
