
<div class="main-container">
    <div class="title_logo"><%= image_tag 'app_logo.png', class: 'logo' %></div>


<p>Millerは、普段のコーディネートをサポートするサービスです。</p>

<div class="sign_up_button">
  <%= link_to new_user_session_path do %>
    <p>さっそくはじめる</p>
  <% end %>
</div>

<div class="scrolldown1"><span>Scroll</span></div>
</div>

<div class="about-container">
  <p class="title">もっとおしゃれを手軽に</p>
  <div class="underline"></div>
  <div class="contents">
    <p>おしゃれとは何なのか。</p>
    <p>それはおなたの気分を上げてくれるコーデです。</p>
    <p> 「カジュアル」と「綺麗め」要素は選びたい。でもコーデを考えるのは面倒、、、</p>
    <p> そこで、Miilerは「カジュアル」と「綺麗め」要素に基づいて素敵なコーデを提案します。</p>
  </div>
</div>

<div class="flow-container">
  <div class="title">
  <p>サービスの流れ</p>
   <div class="underline"></div>
  </div>

  <div class="contents">
    <div class="item">
      <i class="fa fa-box"></i>
      <p>アイテムを登録</p>
    </div>

    <i class="fa fa-chevron-right"></i>

    <div class="item">
      <i class="fa-sharp fa-solid fa-list-check"></i>
      <p>綺麗め度・暑さ度を選択</p>
    </div>

    <i class="fa fa-chevron-right"></i>

    <div class="item">
      <i class="fa-regular fa-face-smile"></i>
      <p>洒落な自分に</p>
    </div>
  </div>
</div>


