
<%= form_with(model: @item, local: true, url: items_path) do |f| %>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>

   
    <%= f.hidden_field :clean_index, id: "rationg-value" %>

    <%= f.submit "保存"%>
<% end %>

