/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 header{
  position: sticky;
  top: 0;
  z-index: 1;
  
 }

.header-nav{
 display: flex;
 justify-content:space-between;
 background-color: #f2f2f2;
 height: 130px;
 border-bottom: #9b9b9a 1px solid;
}

.header-nav .nav{
  padding-top: 50px;
  padding-right: 20px;
}

.header-nav .nav img{
  width: 30px;
  height: 30px;
  display: inline-block;
}

header a{
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  
}

header a:hover{
  color: #249EA6;
  transition: 0.3s;
}

header .app_logo img{
  display: inline-block;
    width: 150px;
    padding: 45px 0 0 40px;
}